:root {
    --main-color: #21325E;
    --secondary-color: #3E497A;
    --tertiary-color: #F1D00A;
    --quaternary-color: #F0F0F0;
}

.main {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.Home {
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    color: #F0F0F0;
    height: 100vh;
    width: 100vw;
    gap: 20px;
    text-align: center;
    flex-wrap: nowrap;
    padding: 1rem;
}

.table-container {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding: 20px 20px;

}

.coins-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    overflow-y: auto;

}

.table-container::-webkit-scrollbar {
    width: 12px;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: var(--tertiary-color);
    border-radius: 10px;
}

.table-container::-webkit-scrollbar-thumb:hover {
    background-color: var(--tertiary-color-lighter);
}

/* Track on hover */
.table-container::-webkit-scrollbar-track {
    background-color: var(--secondary-color-lighter);
    border: 1px solid var(--secondary-color);
}

.coins-table thead {
    background-color: var(--tertiary-color);
    color: #fff;
    border-radius: 20px;
}

.coins-table thead th {
    padding: 10px;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.coins-table tbody tr:nth-child(even) {
    background-color: var(--main-color);
    
}
.coins-table tbody tr:nth-child(odd) {
    background-color: var(--secondary-color);
}


.coins-table tbody tr td {
    padding: 10px;
    font-size: 14px;
    text-align: left;
}

.coins-table tbody tr td .coin {
    display: flex;
    align-items: center;
}

.icon-table {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.expenses-spending {
    display: flex;
    gap: 20px;
    padding: 0 30px;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.spending ,.expenses{
    border-radius: 10px;
    width: 49%;
    display: flex;
    background-color: var(--secondary-color);
    color: #fff;
}

